@model DNBarbershop.Models.Entities.Appointment
@using static DNBarbershop.Models.Entities.Service;
<!DOCTYPE html>
<html>
<head>
</head>
<body class="crudOperationsView">
    <div class="container mt-4">
        <div class="card shadow-sm p-4 rounded">
            <h3 class="text-center text-white fw-bold mb-4">Запази час</h3>
            <form method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Услуга</label>
                        <select asp-for="Id" asp-items="@ViewBag.Services" class="form-select">
                            <option value="">Изберете услуга</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Barber" class="form-label fw-semibold">Бръснар</label>
                        <select asp-for="BarberId" asp-items="@ViewBag.Barbers" class="form-select">
                            <option value="">Изберете бръснар</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="User" class="form-label fw-semibold">Потребител</label>
                    <select asp-for="UserId" asp-items="@ViewBag.Users" class="form-select">
                        <option value="">Изберете потребител</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="AppointmentDate">Изберете дата:</label>
                    <input type="date" asp-for="AppointmentDate" class="form-control" required min="@DateTime.Now.ToString("yyyy-MM-dd")">
                </div>
                <div class="form-group">
                    <label asp-for="AppointmentTime">Изберете час:</label>
                    <select asp-for="AppointmentTime" class="form-select">
                        @if (ViewBag.TimeSlots != null && ViewBag.TimeSlots.Count > 0)
                        {
                            @foreach (var item in (List<SelectListItem>)ViewBag.TimeSlots)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                        else
                        {
                            <option value="">Няма свободни часове</option>
                        }
                    </select>
                </div>
                <div class="text-center">
                    <button type="submit" asp-action="Add" asp-controller="Appointment" class="btn btn-success px-4 py-2 shadow-sm">
                        <i class="bi bi-check-lg"></i> Запази
                    </button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>
