@model DNBarbershop.Models.ViewModels.Appointments.AppointmentEditViewModel

<!DOCTYPE html>
<html>
<head>
</head>
<body class="crudOperationsView">
    <div class="container mt-4">
        <div class="card shadow-sm p-4 rounded">
            <h3 class="text-center text-white fw-bold mb-4">Запази час</h3>
            <form method="post" enctype="multipart/form-data">
                <div class="card-body">
                    <input type="hidden" asp-for="UserId">

                    <label class="form-label fw-semibold fs-5">Услуги</label>

                    <div class="d-flex flex-wrap gap-2">
                        @foreach (var service in (List<SelectListItem>)ViewBag.Services)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="SelectedServiceIds" value="@service.Value" id="@service.Value">
                                <label class="form-check-label" for="@service.Value">
                                    @service.Text
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="BarberId" class="form-label fw-semibold">Бръснар</label>
                    <select asp-for="BarberId" asp-items="ViewBag.Barbers" class="form-select">
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="AppointmentDate">Изберете дата:</label>
                    <input type="date" asp-for="AppointmentDate" class="form-control" required value="@Model.AppointmentDate.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")">
                </div>
                <div class="form-group">
                    <label asp-for="AppointmentTime">Изберете час:</label>
                    <select asp-for="AppointmentTime" class="form-select">
                        @if (ViewBag.TimeSlots != null && ViewBag.TimeSlots.Count > 0)
                        {
                            @foreach (var item in (List<SelectListItem>)ViewBag.TimeSlots)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                        else
                        {
                            <option value="">Няма свободни часове</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Status">Редактирайте статуса</label>
                    <select asp-for="Status" class="form-select">
                        @if (ViewBag.Statuses!=null)
                        {
                            @foreach (var item in ViewBag.Statuses)
                            {
                                <option value ="@item">@item</option>
                            }
                        }
                    </select>
                </div>
                <div class="text-center">
                    <button type="submit" asp-action="Edit" asp-controller="Appointment" class="btn btn-success px-4 py-2 shadow-sm">
                        <i class="bi bi-check-lg"></i> Запази
                    </button>
                </div>
            </form>
            @section Scripts {
                @{
                    await Html.RenderPartialAsync("_ValidationScriptsPartial");
                }
            }
        </div>
    </div>
</body>
</html>
