@model DNBarbershop.Models.Entities.Appointment

<!DOCTYPE html>
<html>
<head>
</head>
<body class="crudOperationsView">
    <div class="container mt-4 crudOperationsView">
        <div class="card shadow-sm p-4 rounded">
            <h3 class="text-center text-white fw-bold mb-4">Редактирай час</h3>
            <form method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" />
                <div class="row">
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Услуга</label>
                        <select asp-for="Id" asp-items="@ViewBag.Services" class="form-select">
                            <option value="">Изберете услуга</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Бръснар</label>
                        <select asp-for="BarberId" asp-items="@ViewBag.Barbers" class="form-select">
                            <option value="">Изберете бръснар</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-semibold">Потребител</label>
                    <select asp-for="UserId" asp-items="@ViewBag.Users" class="form-select">
                        <option value="">Изберете потребител</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="selectedDate">Изберете дата:</label>
                    <input type="date" asp-for="AppointmentDate" id="selectedDate" class="form-control" required min="@DateTime.Now.ToString("yyyy-MM-dd")">
                </div>
                <div class="form-group">
                    <label for="selectedTime">Изберете час:</label>
                    <select asp-for="AppointmentTime" id="selectedTime" class="form-control" required>
                        @if (ViewBag.TimeSlots != null)
                        {
                            @foreach (var item in ViewBag.timeSlotList)
                            {
                                <option value="@TimeSpan.Parse(item.ToString())" selected="@(Model.AppointmentTime == TimeSpan.Parse(item.ToString()))">
                                    @item.ToString()
                                </option>
                            }
                        }
                        else
                        {
                            <option value="">No available times</option>
                        }
                    </select>
                </div>
                <div class="text-center">
                    <button type="submit" asp-action="Edit" asp-controller="Appointment" class="btn btn-primary px-4 py-2 shadow-sm">
                        <i class="bi bi-pencil-square"></i> Обнови
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>


