@using DNBarbershop.Utility
@model DNBarbershop.Models.ViewModels.Barbers.SingleBarberViewModel;
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/single-barber-details.css" />
</head>
<body>
    <div class="content-wrapper">
        <div class="card-container">
            <div class="card" style="margin:0;">
                <img src="@Model.ProfilePictureUrl" class="card-img" alt="Снимка на @Model.FirstName @Model.LastName">
                <div class="first-content">
                    <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
                </div>
            </div>
        </div>
        <div class="comments-container">
            <h3>Коментари</h3>
            <form asp-controller="Feedback" asp-action="AddComment" method="post">
                <input type="hidden" name="BarberId" value="@Model.Id" />

                <div class="form-group">
                    <div class="ratings">
                        <input type="radio" id="star5" name="rating" value="5">
                        <label for="star5"></label>
                        <input type="radio" id="star4" name="rating" value="4">
                        <label for="star4"></label>
                        <input type="radio" id="star3" name="rating" value="3">
                        <label for="star3"></label>
                        <input type="radio" id="star2" name="rating" value="2">
                        <label for="star2"></label>
                        <input type="radio" id="star1" name="rating" value="1">
                        <label for="star1"></label>
                    </div>
                    <textarea name="Comment" placeholder="Напишете коментар..." required></textarea>
                </div>
                @if (User.IsInRole(SD.AdminRole) || User.IsInRole(SD.UserRole))
                {
                    <button type="submit">Добави коментар</button>

                }
                else
                {
                    <a class="btn addcommentbutton" asp-area="Identity" asp-page="/Account/Register">Добави коментар</a>
                }
                
            </form>
            <hr />
            <div class="comments-list">
                @foreach (var comment in Model.Feedbacks)
                {
                    <div class="comment">
                        @if (comment.User != null)
                        {

                            <h1>@comment.User.FirstName @comment.User.LastName</h1>
                            <div class="rating">
                                @for (int i = 0; i < comment.Rating; i++)
                                {
                                    <span>⭐</span>
                                }
                                <div class="comment-to">&#x2705; Клиент на @Model.FirstName @Model.LastName</div>
                            </div>
                        }
                        else
                        {
                            <h1>Анонимен потребител</h1>
                        }
                        
                        <p>@comment.Comment</p>
                        <span>@comment.FeedBackDate.ToString("dd.MM.yyyy HH:mm")</span>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
