@model DNBarbershop.Models.ViewModels.Barbers.BarberFilterViewModel
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/animation-styles.css"/>
    <link rel="stylesheet" href="~/css/barbers-details.css" />
</head>
<body class="barbers-details">

    <div class="container text-center">

        <section class="barbers-index-title">
            <h1>Отзиви и коментари за всеки бръснар.</h1>
            <h1>Изберете най-добрия.</h1>
        </section>
        <form method="get" class="mb-3 text-white p-3 rounded-1" style="background-color:black;">
            <div class="row g-2 align-items-end">
                <div class="col-md-4">
                    <label asp-for="SpecialityId" class="form-label text-light">Специализиране</label>
                    <select asp-for="SpecialityId" asp-items="Model.Specialities" class="form-select form-select-sm bg-opacity-25  border-dark">
                        <option value="">Всички</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label asp-for="MinExperienceYears" class="form-label text-light">Минимален опит (години)</label>
                    <input type="number" asp-for="MinExperienceYears" class="form-control form-control-sm bg-opacity-25  border-dark" min="0">
                </div>
                <div class="col-md-4">
                    <button asp-action="UserIndex" asp-controller="Barber" type="submit" class="btn btn-secondary w-100">
                        <i class="bi bi-filter"></i> Филтрирай
                    </button>
                </div>
            </div>
        </form>
        <section class="barbers-cards"></section>
        <div class="cards-wrapper">
            @foreach (var barber in Model.Barbers)
            {
                <a asp-controller="Barber" asp-action="Details" asp-route-id="@barber.Id" class="card-link">
                    <div class="card-container">
                        <div class="card">
                            <div class="first-content">
                                <img src="@barber.ProfilePictureUrl" class="card-img-top" alt="Снимка на @barber.FirstName @barber.LastName">
                                <h5 class="card-title">@barber.FirstName</h5>
                                <h5 class="card-title">@barber.LastName</h5>
                            </div>
                            <div class="second-content">
                                <h5 class="card-text">Години опит: @barber.ExperienceYears</h5>
                                <br />
                                <h5 class="card-text">Специализация: @barber.Speciality?.Type бръснар</h5>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
    <script src="~/js/scroll-animation.js"></script>
</body>
</html>
