@using DNBarbershop.Models.Entities
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@model IEnumerable<(User User, List<string> Roles)>
<!DOCTYPE html>
<html>
<head>
</head>
<body class="crudOperationsView">
    <div class="container mt-4">
        <div class="table-responsive">
            <table class="table table-striped table-hover shadow-sm rounded">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Име</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Е-mail</th>
                        <th scope="col">Роля</th>
                        <th scope="col">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.User.Id</td>
                            <td>@user.User.FirstName</td>
                            <td>@user.User.LastName</td>
                            <td>@user.User.Email</td>
                            <td>
                                @{
                                    var roles = await UserManager.GetRolesAsync(user.User);
                                    if (roles.Contains("Admin"))
                                    {
                                        <span class="badge bg-success">Админ</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-secondary">Потребител</span>
                                    }
                                }
                            </td>
                            <td>
                                <div class="d-flex gap-2">
                                    <form asp-controller="User" asp-action="MakeAdmin" method="post">
                                        <input type="hidden" name="userId" value="@user.User.Id" />
                                        <button type="submit" class="btn btn-primary">Make Admin</button>
                                    </form>
                                    <form asp-controller="User" asp-action="Delete" asp-route-id="@user.User.Id" method="post">
                                        <button type="submit" class="btn btn-danger px-3 py-2">
                                            <i class="bi bi-trash"></i> Изтрий
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
